.spanBlock {
    display: flex;
    align-items: center;
}

.span {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #0080FF;
}

.input {
    padding: 8px 24px;
}

.pen {
    margin-right: 10px;
}
